@media(min-width: 493px) {

    body {
        // border: 2px solid red;
        background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg"), url("images/bg-pattern-bottom.svg"), url("images/bg-pattern-top.svg");
        background-position: right top, left bottom, center top, left center;
        background-size: cover, auto;
        // background-repeat: repeat;
    }
    .card {
        width: 44%;
        margin: 0%;

        .image {
            top: 33% !important;
            // left: 40% !important;
            // border: 4px solid rgb(250, 250, 250) !important;
            // border-radius: 50%;
            // width: 21% !important;
            // height: 13% !important;
            
            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                border: 0px solid rgb(208, 8, 8);
            }
    
        }
    }
}